*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
header{
  width: 100%;
  height: 120px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  position: fixed;
  z-index: 50;
}
.red-top{
  width: 100%;
  height: 40px;
  background-color: #ad0000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 20px;
  align-items: center;
}
.top-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-left: 50px;
}
.top-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    gap: 35px;
}
.white{
    display: flex;
    justify-content: space-between;
     margin-inline: auto;
     align-items: center;

   
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-right: 60px;
  text-decoration: none;
  /* margin-bottom: 15px; */

  
}
.links {
  text-decoration: none;
  display: flex;
  color: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
 
}
.links li  {
    list-style-type: none; 
}
.links li a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;          
}
.links li a:hover{
  color: #960404;
  box-shadow: 0 0 10px 2px #9604049d;
}
.btnn{
  background-color: #ad0000;
  color: #fff;
  padding: 7px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  border: none;
  transition: all 0.5s ease-in-out;
}
.btnn:hover{
  color: #fff;
 background-color: #520101;
}
.logo{
  display: flex;
  align-items: center;
  border: none;
  margin-left: 60px ;
  padding: none;
  line-height: 0;
  /* margin-bottom: 90px; */
                                          
}
.logo img{
  height: 100px;
  overflow-clip-margin: content-box;
  overflow: clip;
  /* vertical-align: middle; */
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}
.logo h1{
  font-size: 20px;
  font-weight: 200;
  color: #000;
  margin-left: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo h1 span{
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
  color: #ad0000;
}
.menu{
  background-color: #000;
  color: #fff;
  padding: 7px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: all 0.5s ease-in-out;
  display: none;
  z-index: 9999;
}
.menu:hover{
  color: #fff;
 background-color: #00000099;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999 !important;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #4d4a49;
  /* backdrop-filter: blur(20px); */
  /* border: medium solid red; */
}

.sidenav a {
  padding: 20px 20px 20px 32px;

  text-decoration: none;
  font-size: 25px;
  color: #fbf7f7;
  display: block;
  transition: 0.3s;
  font-weight: 600;
  font-family: "Playwrite GB S", serif;


}

.sidenav a:hover {
  color: #151414;
  background-color: #f1f1f1;

}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 36px;
  margin-left: 0;
}
.secone{
/* padding-top: 110px; */
z-index: -1 !important;
top: 110px;
position: relative;

}
.carousel-inner{
  /* display: none; */
  position: relative;
}
.itemone{
  height: 85vh;
  background-image: url(./image/h1_hero1.jpg);
  z-index: 1 !important;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
 
}
.itemtwo{
  height: 85vh;
  background-image: url(./image/h1_hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1 !important;
  object-fit: cover;
  
}
.itemthree{
  height: 85vh;
  background-image: url(./image/services-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1 !important;
  object-fit: cover;
  
}
.one{
  position: absolute;
  top: 30%;
  left: 10%;
  font-family: "Playwrite GB S", serif;

}
.oneh1{
  font-size: 60px;
}
.one p{
  font-size: 25px;
}
.sectwo{
  position: relative;
  top: 170px;
}
.h12{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cards {
  display: flex;
  overflow-x: auto;
  gap: 4rem;
  padding: 1rem;
  scroll-behavior: auto;
  /* scroll-snap-type: x mandatory; */
}


.card1 {
  flex: 0 0 auto;
  /* width: 18rem; */
  /* scroll-snap-align: start; */
  transition: all  0.3s ease-in-out;
}
.card1:hover{
  transform: scale(1.04);
  box-shadow: 0 0 10px  rgba(183, 5, 5, 0.782);
}
.card1:hover .tit{
  color: #960404;
}
.card1:hover .btt{
  background-color: #560202;
}
.secthree{
  position: relative;
  top: 240px;
}
.who{
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
}
.ptag{
  font-size: 20px;
  margin-top: 60px;
  line-height: 30px;
}
.span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: #960404;
}
.bigd{
  width: 90%;
  margin-inline: auto; 
}
.secfour{
  position: relative;
  top: 300px;
  background: radial-gradient(rgb(161, 3, 3),rgba(255, 255, 255, 0.407));
}

.txt{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 50px;
}
.cardp{
  font-size: 22px;
}
.h{
  transition: all  0.3s ease-in-out;
  
}
.h:hover{
  color: #960404;
  transform: scale(1.04);
  box-shadow: 0 0 10px  rgba(183, 5, 5, 0.782);
}
.secfive{
  position: relative;
  top: 300px;

}
.secsix{
  position: relative;
  top: 290px;

}


.main-footer {
  background-color: #12161bdf;
  color: #fff;
  padding: 2.2rem 1.5rem;
  position: relative;
  top: 290px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8rem;
  max-width: 1200px;
  margin: auto;
}

.footer-box {
  flex: 200px;
}

.footer-box h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: #fff;
}

.footer-box ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer-box ul li a:hover {
  color: #e41313;
}


.logo2{
  display: flex;
  align-items: center;
  border: none;
  /* margin-left: 60px ; */
  padding: none;
  line-height: 0;
  /* margin-bottom: 90px; */
                                          
}
.logo2 img{
  height: 100px;
  overflow-clip-margin: content-box;
  overflow: clip;
  /* vertical-align: middle; */
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}
.logo-txt2 span{
  color: #960404;
}
.logo-txt2{
  font-size: 23px;
}
.logo-txt2 h1{
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.copyright{
  margin-bottom: 0;
  margin-top: 100px;
  
}
.copyright span{
  color: #ed0707;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





















