@media(max-width: 768px) {
    .about h1{
        font-size: 3rem;
        left: 100px;
    }
    
}

@media(max-width: 400px) {
    .about h1{
        font-size: 2.5rem;
        left: 60px;
    }
}
@media(max-width: 400px) {
    .about h1{
        font-size: 2rem;
        left: 50px;
    }
}
